<h1>ブログ詳細画面</h1>
<p>ユーザー名: <%= @blog.user.name %></p>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>

<p>
  <strong>Image:</strong>
  <% if @blog.image? %>
<div class="thumbnail">
  <%= image_tag @blog.image.url %>
</div>
<% end %>
</p>

<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to '編集する', edit_blog_path(@blog), class: "btn btn-outline-primary"  %> |
<%= link_to '戻る', blogs_path, class: "btn btn-outline-primary"  %>