<h1><%= @user.name %>のお気に入り一覧</h1>
<table>
<% @favorites.each do |favorite| %>
  <tbody>
    <tr>
      <td><%= favorite.user.name %></td>
    </tr>
    <tr>
      <td><%= favorite.blog.content %></td>
    </tr>
    <tr>
      <td><%= image_tag (favorite.blog.image) if favorite.blog.image? %></td>
    </tr>
  </tbody>
  <footer>
    <tr>
      <td><%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %></td>
      <td><%= link_to 'Back To profile', user_path(current_user.id), class: 'btn btn-warning' %></td>
    </tr>
  </footer>
<% end %>
</table>