<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @user, url: user_edit_confirm, method: user_method_confirm, local: true) do |form| %>
<%= form.hidden_field :name %>
<%= form.hidden_field :email %>
<%= form.hidden_field :image_cache %>
<%= form.hidden_field :user_id, value: current_user.id %>
<p>タイトル:<%= @user.name %></p>
<p>本文:<%= @user.email %></p>
<p>画像:<%= image_tag @user.image.url if @user.image? %></p>
<%= form.submit  "登録する",  class: "btn btn-outline-primary" %>
<%= form.submit "戻る", name: 'back', class: "btn btn-outline-primary"  %>
<% end %>